body {
  margin: 0;
}

header {
  background-color: #b483e2;
  padding: 30px 10px 30px 10px;
}

.my-portfolio-header {
  text-decoration: none;
  color: black;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-quadrants {
  padding: 90px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
}

.four-quadrants div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}